VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZWhzdndkeXh5dHFvaWF0dWJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2OTQyNDYsImV4cCI6MjA3NTI3MDI0Nn0.ivSt1GFfZC7R2nlHr2adjx0nXbKWM-KFvWZ1eGbZAy0
VITE_SUPABASE_URL=https://nxehsvwdyxytqoiatubn.supabase.co
VITE_API_URL=http://localhost:8000
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZWhzdndkeXh5dHFvaWF0dWJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTY5NDI0NiwiZXhwIjoyMDc1MjcwMjQ2fQ.3ac_SyeFJYkvaduHau0nR8ob8hK32fw85nRvgDqDDUE